<div id="container"></div>

<div id="info">
  Based on <strong><a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> by the Google Data Arts Team <span class="bull">&bull;</span> Data acquired from <a href="https://dev.twitter.com/docs/streaming-apis">Twitter Streaming API</a>
</div>

<div id="title">
  Earth Tweets
</div>

