<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Earth Tweets</title>
  <%- css('style') %>
</head>
<body>

<div class="wrapper">

<%- body -%>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%- js('client') %>

</body>
</html>
